<h1>Course Information: </h1>
<p><span>Course title: </span><span> <%= @course.title %> </p>
<p><span>Course during the day: </span><span> <%= @course.day %> </p>


  <%= link_to "Home", root_path %>
