<h1>Course Information: </h1>
<p><span>Course title: </span><span> <%= @course.title %> </p>
<p>
  <span>Day or night: </span>

  <% if @course.day? %>
    <span>Day</span>
    <% else %>
    <span>Night</span>
  <% end %>
</p>


  <%= link_to "Home", root_path %>
  <%= link_to "Delete", course_path(@course), method: 'delete' %>
